*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}

body{
    min-height: 100vh;
    width: 100%;
    background: #f3f3f4;
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width:100%;
    background:#abe63e;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3)
}

.container .registration{
    display: none;
}

#check:checked ~ .registration{
    display:block;
}
#check:checked ~ .login{
    display: none;
}

#check{
    display:none;
}

.container .form{
    padding:2rem;
}

.form header{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom:1.5rem;
}

.form input{
    height:60px;
    width:100%;
    padding: 0 15px;
    font-size:17px;
    margin-bottom: 1.3 rem;
    border: 1px solid #dddd;
    border-radius: 6px;
    outline:none;
}

.form input:focus{
    box-shadow: 0 qpx 0 rgba(0,0,0,0.3);
}

.form a{
    font-size:16px;
    color:aquamarine;
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;

}

.form input .button{
    color:#f3f3f4;
    background: #abe63e;
    font: size 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
}

.form input .button:hover{
    background: #abe63e;

}
