{% extends 'base.html' %}
{% load static %}

{% block meta %} 
    <title>List Rapat</title>
{% endblock meta %} 

{% block content %}

<div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div>
        <h2 class="text-2xl font-semibold leading-tight">List Rapat</h2>
      </div>
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Rapat Tim
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Nama Panitia
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Stadium
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Tanggal dan Waktu
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% for rapat in list_rapat %}
              <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        {{ rapat.vs }}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        {{ rapat.nama_depan }} {{ rapat.nama_belakang }}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        {{ rapat.nama }}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        {{ rapat.datetime }}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <button type="button" class="bg-indigo-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Lihat Laporan Rapat
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header border-lime-500 bg-lime-400">
                            <h5 class="font-bold text-gray-700" id="exampleModalLabel">Laporan Rapat</h5>
                              <svg data-bs-dismiss="modal" aria-label="Close" type="button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 btn-close">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                              </svg>                              
                          </div>
                          <div class="modal-body">
                            <p class="text-gray-900 whitespace-no-wrap">
                              {{ rapat.isi_rapat }}
                          </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="bg-indigo-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}