{% extends 'base.html' %}
{% load static %}

{% block meta %} 
    <title>List Rapat</title>
{% endblock meta %} 

{% block content %}

<div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div>
        <h2 class="text-2xl font-semibold leading-tight">List Rapat</h2>
      </div>
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Rapat Tim
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Nama Panitia
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Stadium
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Tanggal dan Waktu
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        A vs B
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        XYZ
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        Gelora Bung Karno
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        5 Juli 2023, 07.00 - 09.00
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <a>
                      <button type="button" class="bg-indigo-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Lihat Laporan Rapat</button>
                    </a>
                </td>
              </tr>
              <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        C vs D
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">
                      ABC
                  </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        Jakarta International Stadium
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">
                      6 Juli 2023, 10.00 - 12.00
                  </p>
              </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <a>
                        <button type="button" class="bg-indigo-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Lihat Laporan Rapat</button>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}