{% extends 'base.html' %}
{% load static %}

{% block meta %} 
    <title>Pinjam Stadium</title>
    <script src="../path/to/flowbite/dist/datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/datepicker.min.js"></script>
{% endblock meta %} 

{% block content %}
{% if message %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <span class="block sm:inline">{{ message }}</span>
</div>
{% endif %}

<div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div>
        <h2 class="text-2xl font-semibold leading-tight">Peminjaman Stadium</h2>
      </div>
      <form method = "POST" action = "/manajer/pinjamStadium/">
      {%csrf_token%}
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
          <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
            <table class="min-w-full leading-normal">
              <tr>
                  <th
                      class="px-5 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                  >
                      Stadium
                  </th>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                      <label for="pilih_stadium" class="block mb-2 text-sm font-medium text-gray-900 ">Pilih Stadium</label>
                          <select id="pilih_stadium" name="pilih_stadium" class="text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-300 dark:placeholder-gray-300 font-semibold dark:focus:ring-blue-300 dark:focus:border-blue-300 shadow-md">
                            <option>Pilih Stadium</option>
                            {% for stadium in list_stadium %}
    
                            <option value = "{{stadium.stadium}}">{{stadium.stadium}}</option>
                            {% endfor %}
                          </select>
                  </td>
              </tr>
              <tr>
                  <th
                  class="px-5 py-3 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                  >
                  Tanggal
                  </th>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                      <label for="date" class="block mb-2 text-sm font-medium text-gray-900 ">Start Date</label>
                      <div class="relative max-w-sm">
                          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                          </div>
                          <input datepicker type="text" name="start_date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                      </div>
                      <label for="date" class="block mb-2 text-sm font-medium text-gray-900 ">End Date</label>
                      <div class="relative max-w-sm">
                          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                          </div>
                          <input datepicker type="text" name="end_date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                      </div>
                  </td>
              </tr>
            </table>
          </div>
        </div>
        <div>
          <button type="submit" class="bg-indigo-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2">Pesan</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content%}