{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Daftar Pelatih</title>
{% endblock meta %}

{% block content %}
<div class="text-center font-bold flex h-screen">
    
    <form class="grid grid-cols-1 gap-5 bg-red-200 rounded border-4 border-neutral-500 p-5 m-auto">
      <h1 class="text-2xl font-bold mb-4 text-center">Add Trainer</h1>
      <label for="trainer" class="font-semibold">Trainer Name - Specialization</label>
      <select id="trainer" name="trainer" class="block w-full p-2 mb-6 border border-gray-400 rounded">
        <option value="trainer1">Trainer 1 - Forward</option>
        <option value="trainer2">Trainer 2 - Midfielder</option>
        <option value="trainer3">Trainer 3 - Defender</option>
      </select>
      <button type="submit" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
    </form>
</div>
{% endblock content %}