{% extends 'base.html' %}
{% load static %}

{% block meta %} 
    <title>Daftar Peristiwa Tim A</title>
{% endblock meta %} 

{% block content %}

<div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div>
        <h2 class="text-2xl font-semibold leading-tight">Daftar Peristiwa Tim A</h2>
      </div>
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider">
                  Nama Pemain
                </th>
                <th class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider">
                  Peristiwa
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        Moar 
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        Kartu Kuning
                    </p>
                </td>
              </tr>
              <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap"> 
                        Clarae
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        Gol
                    </p>
                </td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}