{% extends 'base.html' %}
{% load static %}

{% block meta %} 
    <title>Group Stage</title>
{% endblock meta %} 

{% block content %}

<div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div>
        <h2 class="text-2xl font-semibold leading-tight" text-align="justify-center" >Manage Pertandingan</h2>
      </div>
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Group
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Team
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Waktu
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Pemenang
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-lime-500 bg-lime-400 text-left text-xs font-bold text-gray-700 uppercase tracking-wider"
                >
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
            {% for pertandingan in list_pertandingan %}
              <tr>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        -
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        {{ pertandingan.tim_lawan_tim }}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        {{ pertandingan.start_datetime }}
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">
                        -
                    </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    {% if pertandingan.done %}
                    <a href="{% url 'panitia:peristiwa' %}?id_pertandingan={{ pertandingan.id_pertandingan }}&nama_tim={{ pertandingan.tim0 }}">
                      <button type="button" class="bg-indigo-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Lihat Peristiwa Tim 1</button>
                    </a>
                    <a href="{% url 'panitia:peristiwa' %}?id_pertandingan={{ pertandingan.id_pertandingan }}&nama_tim={{ pertandingan.tim1 }}">
                      <button type="button" class="bg-indigo-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Lihat Peristiwa Tim 2</button>
                    </a>
                    {% else %}
                    <a href="{% url 'panitia:mulaiPertandingan' %}?pertandingan_id={{pertandingan.id_pertandingan}}">
                      <button type="button" class="bg-indigo-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Mulai</button>
                    </a>
                    {% endif %}
                </td>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center;">
    <button type="button" class="bg-indigo-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2">Finish</button>
</div>

{% endblock content %}