{% extends 'base.html' %}
{% load static %}
{% block meta %} 
    <title> Rapat Panitia </title>
{% endblock meta %} 

<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

{% block content %}

<style>
    h1 {
        color: #252525;
        font-family: 'Poppins';
    }
    * {
        font-family: 'Poppins';
    }
    th {
        color:#F3F3F4;
        background-color: #0A00A5;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 10px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 10px;
    }
</style>

<div class="container mx-auto">
    <h1 class="text-2xl font-bold text-center my-10" style=" color: #0A00A5;">Peristiwa Tim 1</h1>
    <form class = "card">
            <table class="table-auto w-full">
                <thead>
                    <tr>
                        <th class="border-b border-gray-200 text-center py-2 px-4">Nama Pemain</th>
                        <th class="border-b border-gray-200 text-center py-2 px-4">Peristiwa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border-b border-gray-200 text-gray-700 py-2 px-4">
                            <select id="pemain" name="pemain" class="block w-full p-2 my-3 border border-lime-400 rounded">
                            <option value="pemain1">Domenico Carbery</option>
                            <option value="pemain2">Liam Clarae</option>
                            <option value="pemain3">None</option>
                            </select>
                        </td>
                        <td class="border-b border-gray-200 text-gray-700 py-2 px-4">
                            <select id="peristiwa" name="peristiwa" class="block w-full p-2 my-3 border border-lime-400 rounded">
                                <option value="peristiwa1">Kartu Kuning</option>
                                <option value="peristiwa2">Kartu Merah</option>
                                <option value="peristiwa3">Assist</option>
                                <option value="peristiwa4">Gol</option>
                                <option value="peristiwa">None</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-gray-200 text-gray-700 py-2 px-4">
                            <select id="pemain" name="pemain" class="block w-full p-2 my-3 border border-lime-400 rounded">
                            <option value="pemain1">Domenico Carbery</option>
                            <option value="pemain2">Liam Clarae</option>
                            <option value="pemain3">None</option>
                            </select>
                        </td>
                        <td class="border-b border-gray-200 text-gray-700 py-2 px-4">
                            <select id="peristiwa" name="peristiwa" class="block w-full p-2 my-3 border border-lime-400 rounded">
                                <option value="peristiwa1">Kartu Kuning</option>
                                <option value="peristiwa2">Kartu Merah</option>
                                <option value="peristiwa3">Assist</option>
                                <option value="peristiwa4">Gol</option>
                                <option value="peristiwa">None</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-gray-200 text-gray-700 py-2 px-4">
                            <select id="pemain" name="pemain" class="block w-full p-2 my-3 border border-lime-400 rounded">
                            <option value="pemain1">Domenico Carbery</option>
                            <option value="pemain2">Liam Clarae</option>
                            <option value="pemain3">None</option>
                            </select>
                        </td>
                        <td class="border-b border-gray-200 text-gray-700 py-2 px-4">
                            <select id="peristiwa" name="peristiwa" class="block w-full p-2 my-3 border border-lime-400 rounded">
                                <option value="peristiwa1">Kartu Kuning</option>
                                <option value="peristiwa2">Kartu Merah</option>
                                <option value="peristiwa3">Assist</option>
                                <option value="peristiwa4">Gol</option>
                                <option value="peristiwa">None</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="bg-lime-400 text-gray-700 py-2 px-4 rounded-md shadow hover:shadow-2xl">Selesai</button>
    </form>
</div>

{% endblock content %}