{% extends 'base.html' %}
{% load static %}

{% block meta %} 
    <title>Pertandingan Antar 2 Tim</title>
{% endblock meta %} 

{% block content %}
<style>
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .table__body {
        width: 95%;
        max-height: calc(89% - 1.6rem);
        background-color: #F3F3F4;
    
        margin: .8rem auto;
        border-radius: .6rem;
    
        overflow: auto;
        overflow: overlay;
    }
    
    table {
        width: 100%;
    }
    
    table, th, td {
        border-collapse: collapse;
        padding: 1rem;
        text-align: center;
    }
    
    thead th {
        position: sticky;
        top: 0;
        left: 0;
        background-color: #ABE63E;
        cursor: pointer;
        text-transform: capitalize;
    }
    
    .status {
        padding: .4rem 0;
        border-radius: 2rem;
        text-align: center;
    }
    
    .status.available {
        background-color: #86e49d;
        color: #006b21;
    }
    
    thead th.active,tbody td.active {
        color: #757476;
    }
</style>

<div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div>
        <h2 class="text-2xl font-semibold leading-tight" style="text-align: center;">Buat Pertandingan</h2>
    </div>
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal">
            <tr>
                <th style="padding: 8px 12px; font-weight: bold; text-transform: uppercase; color: #252525; background-color: #F3F3F4; text-align: center;">Pilih Wasit Utama</th>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <select id="stadium" class="text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-300 dark:placeholder-gray-300 font-semibold dark:focus:ring-blue-300 dark:focus:border-blue-300 shadow-md">
                            <option selected>Pilih disini</option>
                            <option>Wasit 1</option>
                            <option>Wasit 2</option>
                            <option>Wasit 3</option>

                        </select>
                </td>
            </tr>
            <tr>
                <th style="padding: 8px 12px; font-weight: bold; text-transform: uppercase; color: #252525; background-color: #F3F3F4; text-align: center;">Pilih Wasit Pembantu/Hakim Garis</th>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <select id="stadium" class="text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-300 dark:placeholder-gray-300 font-semibold dark:focus:ring-blue-300 dark:focus:border-blue-300 shadow-md">
                            <option selected>Pilih disini</option>
                            <option>Wasit 1</option>
                            <option>Wasit 2</option>
                            <option>Wasit 3</option>
                        </select>
                </td>
            </tr>
            <tr>
                <th style="padding: 8px 12px; font-weight: bold; text-transform: uppercase; color: #252525; background-color: #F3F3F4; text-align: center;">Pilih Wasit Pembantu/Hakim Garis</th>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <select id="stadium" class="text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-300 dark:placeholder-gray-300 font-semibold dark:focus:ring-blue-300 dark:focus:border-blue-300 shadow-md">
                            <option selected>Pilih disini</option>
                            <option>Wasit 1</option>
                            <option>Wasit 2</option>
                            <option>Wasit 3</option>
                        </select>
                </td>
            </tr>
            <tr>
                <th style="padding: 8px 12px; font-weight: bold; text-transform: uppercase; color: #252525; background-color: #F3F3F4; text-align: center;">Pilih Wasit Cadangan</th>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <select id="stadium" class="text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-300 dark:placeholder-gray-300 font-semibold dark:focus:ring-blue-300 dark:focus:border-blue-300 shadow-md">
                            <option selected>Pilih disini</option>
                            <option>Wasit 1</option>
                            <option>Wasit 2</option>
                            <option>Wasit 3</option>
                        </select>
                </td>
            </tr>
          </table>
        </div>
      </div>

      <body>
        <br>
        <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th style = "color: #252525;" > Tim 1</th>
                            <th style = "color: #252525;"> Tim 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 
                                <select id="stadium" class="text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-300 dark:placeholder-gray-300 font-semibold dark:focus:ring-blue-300 dark:focus:border-blue-300 shadow-md">
                                <option selected>Pilih disini</option>
                                <option>Tim A</option>
                                <option>Tim B</option>
                                <option>Tim C</option>
                            </select>
                            </td>
                            <td> 
                                <select id="stadium" class="text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-300 dark:placeholder-gray-300 font-semibold dark:focus:ring-blue-300 dark:focus:border-blue-300 shadow-md">
                                <option selected>Pilih disini</option>
                                <option>Tim A</option>
                                <option>Tim B</option>
                                <option>Tim C</option>
                            </select>
                            </td>
                        </tr>
                </table>
            </section>
    </body>

      <div style="text-align: center;">
        <button type="button" class="bg-indigo-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2">Submit</button>
    </div>    
    </div>
  </div>
</div>
{% endblock content%}