{% extends 'base.html' %}
{% load static %}
{% block meta %} 
    <title> Rapat Panitia </title>
{% endblock meta %} 

<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

{% block content %}

<style>
    h1 {
        color: #252525;
        font-family: 'Poppins';
    }
    * {
        font-family: 'Poppins';
    }
    th {
        color:#F3F3F4;
        background-color: #0A00A5;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 10px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 10px;
    }
</style>

<div class="container mx-auto">
    <h1 class="text-2xl font-bold text-center my-10" style=" color: #0A00A5;">Beli Tiket</h1>
    <form method="POST" class = "card p-5 m-auto">
        <label for="jenis_tiket" class="font-semibold" style=" color: #252525;">Jenis Tiket: </label>
        <select id="jenis_tiket" name="jenis_tiket" class="block w-full p-2 my-3 border border-lime-400 rounded">
          <option value="VIP">VIP</option>
          <option value="Main East">Main East</option>
          <option value="Kategori 1">Kategori 1</option>
          <option value="Kategori 2">Kategori 2</option>
        </select>

        <label for="jenis_pembayaran" class="font-semibold" style=" color: #252525;">Jenis Pembayaran: </label>
        <select id="jenis_pembayaran" name="jenis_pembayaran" class="block w-full p-2 my-3 border border-lime-400 rounded">
          <option value="Paypal">Paypal</option>
          <option value="Shopee Pay">Shopee Pay</option>
          <option value="Gopay">Gopay</option>
          <option value="Transfer Rekening">Transfer Rekening</option>
          <option value="Debit Rekening">Debit Rekening</option>
        </select>

        <button type="submit" class="bg-lime-400 text-gray-700 py-2 px-4 rounded-md shadow hover:shadow-2xl">Beli Tiket</button>    </form>
</div>

{% if message %}  
    <div class="container mx-auto" style="padding-top: 20px;">   
        <p>{{ message }}</p>
    </div>   
{% endif %}

{% endblock content %}