{% extends 'base.html' %}
{% load static %}
{% block meta %} 
    <title> Rapat Panitia </title>
{% endblock meta %} 

<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

{% block content %}

<head>
    <style>
        h1 {
            color: #252525;
            font-family: 'Poppins';
        }
        * {
            font-family: 'Poppins';
        }
        th {
            color:#F3F3F4;
            background-color: #0A00A5;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            padding: 10px;
            text-align: center;
            background-color: #ffffff;
            border-radius: 10px;
        }
    </style>

    <script type="text/javascript">
        function lihat_waktu() {
            var currentURL = window.location.href;
            var split = currentURL.toString().split('/');
            var dir = "/penonton/tiketListPertandingan/" + document.getElementById("val_button").value + "/";
            console.log(dir);
            document.getElementById("button_next").href = dir;
        }
    </script>
</head>
 
<div class="container mx-auto">
    <h1 class="text-2xl font-bold text-center my-10" style=" color: #0A00A5;">List Waktu {{ stadium }}</h1>
    <div class = "card">
        <table class="table-auto w-full">
            <thead>
                <tr>
                    <th class="border-b border-gray-200 text-center py-2 px-4">List Waktu</th>
                    <th class="border-b border-gray-200 text-center py-2 px-4">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for waktu in list_waktu %}
                <tr>
                    <td class="border-b border-gray-200 text-gray-700 py-2 px-4">{{ waktu.start_datetime }} - {{ waktu.end_datetime }}</td>
                    <td class="border-b border-gray-200 text-gray-700 py-2 px-4">
                        <a id="button_next">
                            <button id="val_button" onclick="lihat_waktu()" type="button" class="bg-lime-400 text-gray-700 py-2 px-4 rounded-md shadow hover:shadow-2xl" value="{{waktu.id_pertandingan}}">Next</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}