{% extends 'base.html' %}
{% load static %}
{% block meta %} 
    <title>Dashboard Penonton </title>
{% endblock meta %} 

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-semibold mb-8">Dashboard Penonton</h1>
    <div class="rounded bg-lime-400 border-2 border-neutral-500 py-2 px-2 responsive"> 
        {% for elem in non_pemain %}
        <div class="flex flex-wrap -mx-2 mb-8">
            
            <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2" for="first_name">
                    Nama Depan
                </label>
            <p class="text-gray-700 text-base"> {{elem.nama_depan}} </p>
                
            </div>
            <div class="w-full md:w-1/2 px-2">
                <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2" for="last_name">
                    Nama Belakang
                </label>
                <p class="text-gray-700 text-base"> {{elem.nama_belakang}} </p>
            </div>
            
        </div>

        <div class="flex flex-wrap -mx-2 mb-8">
            <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2" for="phone_number">
                    Nomor HP
                </label>
                <p class="text-gray-700 text-base"> {{elem.nomor_hp}} </p>
            </div>
            <div class="w-full md:w-1/2 px-2">
                <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2" for="email">
                    Email
                </label>
                <p class="text-gray-700 text-base"> {{elem.email}} </p>
            </div>
        </div>  

        <div class="flex flex-wrap -mx-2 mb-8">
            <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2" for="phone_number">
                    Alamat
                </label>
                <p class="text-gray-700 text-base"> {{elem.alamat}} </p>
            </div>
            <div class="w-full md:w-1/2 px-2">
                <label class="block uppercase tracking-wide text-gray-700 font-bold mb-2" for="email">
                    Status
                </label>
                <p class="text-gray-700 text-base"> {{elem.status}} </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-semibold mb-8">Pertandingan yang Akan Datang</h1>

        {% if list_pemesanan_tiket %}
    <table class="table-auto mx-auto w-full">
      <thead>
        <tr tr class="bg-lime-400">
          <th class="px-4 py-2 bg-lime-400">ID Pertandingan</th>
          <th class="px-4 py-2 bg-lime-400">Tim Bertanding</th>
          <th class="px-4 py-2 bg-lime-400">Jenis Tiket</th>
          <th class="px-4 py-2 bg-lime-400">Start Datetime</th>
          <th class="px-4 py-2 bg-lime-400">End Datetime</th>
          <th class="px-4 py-2 bg-lime-400">Nama Stadium</th>
        
        </tr>
      </thead>
      <tbody>
  
          {% if list_pemesanan_tiket %}
          {% for tiket in list_pemesanan_tiket %}

          <tr>
          <td class="border px-4 py-2">{{ tiket.id_pertandingan }}</td>
          <td class="border px-4 py-2">{{ tiket.nama_tim }}</td>
          <td class="border px-4 py-2">{{ tiket.jenis_tiket }}</td>
          <td class="border px-4 py-2">{{ tiket.start_datetime }}</td>
          <td class="border px-4 py-2">{{ tiket.end_datetime }}</td>
          <td class="border px-4 py-2">{{ tiket.nama_stadium}}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    {% else %}
    <p class="text-center"> Anda belum memesan tiket</p>
    
    {% endif %}

        </h1>
    </div>
{% endblock content %}

